<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://events.mapbox.com">
<link rel="dns-prefetch" href="https://fonts.gstatic.com">
<link rel="preload" " href="./css/fonts.css" as="style" onload="this.rel='stylesheet'">
<link rel="preload" href="./css/style.css" as="style" onload="this.rel='stylesheet'">
<link rel="stylesheet" href="./css/vendor/sakura.min.css">
<link rel="stylesheet" href="./css/vendor/photoswipe.css">
<link rel="stylesheet" href="./css/vendor/default-skin/default-skin.css">
<script src='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js'></script>
<link rel="preload" as="style" href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' onload="this.rel='stylesheet'" />
</head>
<body>

<div class="wrapper">
  <div class="loader loader--hidden" id="loader">
    <p class="loader-text" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Παρακαλώ περιμένετε...</p>
    <div class="loading-wrapper">
      <div class="loader-heart loader-heart1"></div>
      <div class="loader-heart loader-heart2"></div>
      <div class="loader-heart loader-heart3"></div>
    </div>
  </div>
  <div class="content">
    <header>
      <div id="header">
        <picture>
          <source media="(max-width: 600px)" srcset="images/decorations-top-left-80w.webp" type="image/webp">
          <source media="(max-width: 600px)" srcset="images/decorations-top-left-80w.png" type="image/png">
          <source media="(min-width: 601px) and (max-width: 960px)" srcset="images/decorations-top-left-150w.webp" type="image/webp">
          <source media="(min-width: 601px) and (max-width: 960px)" srcset="images/decorations-top-left-150w.png" type="image/png">
          <source srcset="images/decorations-top-left-250w.webp" type="image/webp">
          <source srcset="images/decorations-top-left-250w.png" type="image/png">
          <img src="images/decorations-top-left-250w.png" alt="διακοσμιτικά λουλούδια πάνω αριστερά" class="decorations-top decorations-top--left">
        </picture>

        <picture>
          <source media="(max-width: 600px)" srcset="images/decorations-top-right-80w.webp" type="image/webp">
          <source media="(max-width: 600px)" srcset="images/decorations-top-right-80w.png" type="image/png">
          <source media="(min-width: 601px) and (max-width: 960px)" srcset="images/decorations-top-right-150w.webp" type="image/webp">
          <source media="(min-width: 601px) and (max-width: 960px)" srcset="images/decorations-top-right-150w.png" type="image/png">
          <source srcset="images/decorations-top-right-250w.webp" type="image/webp">
          <source srcset="images/decorations-top-right-250w.png" type="image/png">
          <img src="images/decorations-top-right-250w.png" alt="διακοσμιτικά λουλούδια πάνω δεξιά" class="decorations-top decorations-top--right">
        </picture>
    
    
        <div class="title">
          <div class="container">
            <picture>
              <source media="(max-width: 600px)" srcset="images/logo-150w.png" type="image/png">
              <source srcset="images/logo-240w.png" type="image/png">
              <img src="images/logo-240w.png" alt="Δημήτρης &amp; Ειρήνη" class="logo">
            </picture>
            <p class="title-subheader text-light text-center blue">5 Σεπτεμβρίου 2020</p>
            <h1 class="title-header text-center blue">Δημήτρης &amp; Ειρήνη</h1>
          </div>
        </div>
    

        <svg class="divider" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 1920 150" xml:space="preserve">
          <style type="text/css">
            .st0{fill:#FFFFFF;}
          </style>
          <path class="st0" d="M1920,0v150H0V0C0,0,820,206,1920,0z"/>
        </svg>
      </div>
    </header>
    
    <div class="hero-wrapper">
      <div class="page"  id="hero">
        <div class="hero-img">
          <picture>
            <source media="(max-width: 950px)" srcset="images/header-800.webp" type="image/webp">
            <source media="(max-width: 950px)" srcset="images/header-800.jpg" type="image/jpg">
            <source srcset="images/header-1080.webp" type="image/webp">
            <source srcset="images/header-1080.jpg" type="image/jpg">
            <img src="images/header-1080.jpg" alt="Δημήτρης &amp; Ειρήνη">
          </picture>
        </div>
      </div>
    </div>
    
    <main>
      <!-- Countdown -->
      <div id="countdown-timer" class="pt-30 pb-50 text-center">
        <div class="container">
          <div class="countdown-timer-item">
            <span class="days blue countdown-timer-counter"></span>
            <div class="smalltext">Ημέρες</div>
          </div>
          <div class="countdown-timer-item">
            <span class="hours blue countdown-timer-counter"></span>
            <div class="smalltext">Ώρες</div>
          </div>
          <div class="countdown-timer-item">
            <span class="minutes blue countdown-timer-counter"></span>
            <div class="smalltext">Λεπτά</div>
          </div>
          <div class="countdown-timer-item">
            <span class="seconds blue countdown-timer-counter"></span>
            <div class="smalltext">Δευτερόλεπτα</div>
          </div>
        </div>
      </div>
    
      <!-- Invitation -->
      <div id="invitation" class="panel text-center">
        
        <div class="container">
          <h2 class="blue section-title mb-200" id="invitation-title">Παντρευόμαστε!</h2>
        </div>

        <div class="invitation__wrapper">
          <div class="container">
    
            <div class="invitation__holder">
    
              <div class="invitation__groom invitation__item">
                <div class="invitation__item-wrapper">
                  <picture>
                    <source srcset="images/groom-300.webp" type="image/webp">
                    <source srcset="images/groom-300.jpg" type="image/jpg">
                    <img src="images/groom-300.jpg" alt="ο γαμπρός">
                  </picture>
                  <h3 class="blue mb-1">ο γαμπρός</h3>
                  <p class="mb-0">Δημήτριος</p>
                  <p>Πετρίδης</p>
                </div>
              </div>
    
              <div class="invitation__info invitation__item">
                
                <div class="invitation__info-holder" id="invitation__info-holder">
                  <div class="invitation-groom-bride">
                    <p class="text-uppercase">Δημήτριος Πετρίδης</p>
                    <p class="text-calligraphic">&amp;</p>
                    <p class="text-uppercase">Ειρήνη Θεοχαρίδου</p>
                    <hr class="hr-style-1">
                    <p>Με τις οικογένειες μας</p>
                    <p>Κωνσταντίνο Πετρίδη και Καλλιόπη Πετρίδη</p>
                    <p class="text-calligraphic">&amp;</p>
                    <p>Κωνσταντίνο Θεοχαρίδη και Ιωάννα Θεοχαρίδου</p>
                  </div>
          
                  <hr class="hr-style-1">
          
                  <div class="invitation-invite-text">
                    <p>Με χαρά, σας προσκαλούμε να παρευρεθείτε στο γάμο μας</p>
                  </div>
          
                  <hr class="hr-style-1">
          
                  <div class="invitation-date-info">
                    <p class="mb-0">Σάββατο</p>
                    <p class="invitation-date mb-0">5 Σεπτεμβρίου</p>
                    <p class="invitation-year">2020</p>
                    <p class="invitation-hour">στις 18:30</p>
                  </div>
                </div>
              </div>
    
              <div class="invitation__bride invitation__item">
                <div class="invitation__item-wrapper">
                  <picture>
                    <source srcset="images/bride-300.webp" type="image/webp">
                    <source srcset="images/bride-300.jpg" type="image/jpg">
                    <img src="images/bride-300.jpg" alt="η νύφη">
                  </picture>
                  <h3 class="blue mb-1">η νύφη</h3>
                  <p class="mb-0">Ειρήνη</p>
                  <p>Θεοχαρίδου</p>
                </div>
              </div>
            </div>
    
          </div>
        </div>

      </div>
    
      <!-- Locations -->
      <div id="locations" class="panel text-center transition-1">
        <div class="container">
          
          <h2 class="blue section-title">Τοποθεσίες</h2>

          <picture>
            <source srcset="images/flowers-tr-04-200.webp" type="image/webp">
            <source srcset="images/flowers-tr-04-200.png" type="image/png">
            <img src="images/flowers-tr-04-200.png" alt="λουλούδια">
          </picture>
          
          <div class="location__wrapper location--1">
          
              <div class="location__info location__item">
                <h3 class="blue">Εκκλησία</h3>
                <hr class="hr-style-1">
                <p>Το μυστήριο θα τελεστεί στον Ι.Ν. Αγίας Παρασκευής Σιδηροκάστρου.</p>
                <p>Βασ. Γεωργίου Β 65, Σιδηρόκαστρο 623 00</p>
                <img src="/images/icon-w-rings-150.jpg" alt="">
              </div>
              
              <div class="location__item">
                <!-- <img src="/images/ekklisia-550.jpg" alt=""> -->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 244.24 231.44"><title>ekklisia</title><rect x="104.32" y="58.24" width="35.5" height="56.2" style="fill:#fff;stroke:#f2f0f0;stroke-miterlimit:10"/><path d="M145.6,69.3l-18,.4c-5.9.2-11.8.3-17.6.4l.8-.8.2,14,.1,14c.1,9.4.1,18.7.1,28.1l-1.2-1.2h17.8l17.8.1-1.1,1.1c0-4.6.1-9.2.2-13.9l.2-14Zm0,0,.3,13.8c.1,4.6.2,9.3.3,14l.2,14.1c.1,4.7.2,9.5.2,14.2a1.11,1.11,0,0,1-1.1,1.1h0l-17.8.1H109.9a1.22,1.22,0,0,1-1.2-1.2h0c0-9.4,0-18.7.1-28.1l.1-14,.2-14h0a.86.86,0,0,1,.8-.8h0c6,.1,12,.2,18,.4Z" transform="translate(-5.68 -11.06)" style="fill:#fff;stroke:#f2f0f0;stroke-miterlimit:10"/><polygon points="12.02 191.64 122.12 113.14 232.22 191.64 232.22 229.74 12.02 229.74 12.02 191.64" style="fill:#fff;stroke:#f2f0f0;stroke-miterlimit:10"/><path d="M17.7,202.7l54.6-39.6,54.9-39.6a1.08,1.08,0,0,1,1.1,0h0L155.9,143l27.5,19.6,55.1,39.1a1.23,1.23,0,0,1,.5,1v38.1a1.16,1.16,0,0,1-1.2,1.2h0l-55-.1-55-.1-55-.3-55-.4h0c-.2,0-.3-.2-.3-.4h0Zm0,0,.4,38.1-.4-.4,55-.4,55-.3,55-.1,55-.1-1.2,1.2V202.6l.5,1-55-39.3-27.5-19.7L127.3,125h1.1L73.3,163.9Z" transform="translate(-5.68 -11.06)" style="fill:#fff;stroke:#f2f0f0;stroke-miterlimit:10"/><path d="M177.2,159.4c6.3,3.8,12.5,7.9,18.7,12s12.2,8.3,18.3,12.6,12,8.6,17.9,13,11.8,8.9,17.5,13.6c-6.3-3.8-12.5-7.9-18.7-12s-12.2-8.3-18.3-12.6-12-8.6-17.9-13S182.9,164.1,177.2,159.4Z" transform="translate(-5.68 -11.06)" style="fill:#fff;stroke:#f2f0f0;stroke-miterlimit:10"/><path d="M78.4,159.4c-5.7,4.7-11.6,9.2-17.5,13.6S49,181.7,43,186s-12.1,8.5-18.3,12.6-12.3,8.2-18.7,12c5.7-4.7,11.6-9.2,17.5-13.6s11.9-8.7,17.9-13,12.1-8.5,18.3-12.6S72.1,163.3,78.4,159.4Z" transform="translate(-5.68 -11.06)" style="fill:#fff;stroke:#f2f0f0;stroke-miterlimit:10"/><polygon points="70.92 130.74 122.12 97.94 173.32 130.74 173.32 229.74 70.92 229.74 70.92 130.74" style="fill:#fff;stroke:#f2f0f0;stroke-miterlimit:10"/><path d="M76.6,141.8l25.3-16.7,25.5-16.7a.85.85,0,0,1,.7,0h0l51.4,32.5a1,1,0,0,1,.5.8h0l.2,99a1.22,1.22,0,0,1-1.2,1.2h0l-51.2-.1-25.6-.1-25.6-.1h0a.9.9,0,0,1-.9-.9h0l.3-49.6Zm0,0,.5,49.6.3,49.4-.9-.9,25.6-.1,25.6-.1,51.2-.1-1.2,1.2.2-99,.5.8-51-33.1h.7l-25.7,16.1Z" transform="translate(-5.68 -11.06)" style="fill:#fff;stroke:#f2f0f0;stroke-miterlimit:10"/><path d="M190.8,149.4c-5.4-3.1-10.7-6.4-16.1-9.6s-10.6-6.5-15.9-9.8c-10.6-6.6-21.1-13.2-31.7-20h1.3c-10.5,6.7-21,13.4-31.7,20-5.3,3.3-10.6,6.6-15.9,9.8s-10.7,6.5-16.1,9.6c5.1-3.6,10.3-7,15.4-10.6s10.4-6.9,15.6-10.4c10.4-6.9,20.9-13.7,31.4-20.4a1.22,1.22,0,0,1,1.3,0c10.5,6.7,21,13.5,31.4,20.4,5.2,3.4,10.4,6.9,15.6,10.4S185.7,145.8,190.8,149.4Z" transform="translate(-5.68 -11.06)" style="fill:#fff;stroke:#f2f0f0;stroke-miterlimit:10"/><polyline points="104.32 58.24 122.12 32.24 139.92 58.24" style="fill:#fff;stroke:#f2f0f0;stroke-miterlimit:10"/><path d="M110,69.3c1.3-2.3,2.6-4.6,3.9-6.8s2.7-4.5,4.1-6.7c2.8-4.4,5.7-8.8,8.7-13.1a1.18,1.18,0,0,1,1.7-.3c.1.1.3.2.3.3l4.4,6.5c1.4,2.2,2.9,4.4,4.3,6.6s2.8,4.4,4.1,6.7,2.7,4.5,3.9,6.8c-1.7-2-3.3-4.1-4.9-6.1s-3.2-4.2-4.7-6.3-3.1-4.2-4.6-6.4l-4.5-6.4h2.1c-3,4.3-6,8.6-9.1,12.8-1.5,2.1-3.1,4.2-4.7,6.3S111.7,67.3,110,69.3Z" transform="translate(-5.68 -11.06)" style="fill:#fff;stroke:#f2f0f0;stroke-miterlimit:10"/><path d="M104.9,69.3c3.8-.5,7.6-.8,11.4-1s7.6-.3,11.4-.3,7.6.1,11.4.3,7.6.5,11.4,1c-3.8.5-7.6.8-11.4,1s-7.6.3-11.4.3-7.6-.1-11.4-.3S108.7,69.8,104.9,69.3Z" transform="translate(-5.68 -11.06)" style="fill:#fff;stroke:#f2f0f0;stroke-miterlimit:10"/><path d="M127.8,43.3a60.08,60.08,0,0,1-.7-7.3c-.1-2.4-.2-4.9-.2-7.3s.1-4.9.2-7.3a60.09,60.09,0,0,1,.7-7.3,60.08,60.08,0,0,1,.7,7.3c.1,2.4.2,4.9.2,7.3s-.1,4.9-.2,7.3A60.09,60.09,0,0,1,127.8,43.3Z" transform="translate(-5.68 -11.06)" style="fill:#fff;stroke:#f2f0f0;stroke-miterlimit:10"/><path d="M135.8,25.3a18.65,18.65,0,0,1-4,.7c-1.3.1-2.7.2-4,.2s-2.7-.1-4-.2a18.65,18.65,0,0,1-4-.7,18.65,18.65,0,0,1,4-.7c1.3-.1,2.7-.2,4-.2s2.7.1,4,.2A19.79,19.79,0,0,1,135.8,25.3Z" transform="translate(-5.68 -11.06)" style="fill:#fff;stroke:#f2f0f0;stroke-miterlimit:10"/><path d="M127.8,78.6a5.7,5.7,0,0,0-2.9,3.4V93.4h5.8V82.1A6,6,0,0,0,127.8,78.6Z" transform="translate(-5.68 -11.06)" style="fill:#fff;stroke:#f2f0f0;stroke-miterlimit:10"/><path d="M127.8,78.6a6.47,6.47,0,0,0-.9.8,5.5,5.5,0,0,0-.7.9,3.13,3.13,0,0,0-.5,1c-.1.3-.2.7-.3,1v-.1c.2,1.9.3,3.8.4,5.7a26.2,26.2,0,0,1,.1,2.8c0,.9.1,1.9.1,2.8l-1.2-1.2h5.8l-1.2,1.2a26.2,26.2,0,0,1,.1-2.8c0-.9.1-1.9.1-2.8l.2-2.8.2-2.8v.1a3.81,3.81,0,0,0-.3-1,4.67,4.67,0,0,0-.5-1,5.5,5.5,0,0,0-.7-.9C128.4,79.1,128.1,78.9,127.8,78.6Zm0,0a3.7,3.7,0,0,1,1.1.5c.3.2.7.5,1,.7a6.47,6.47,0,0,1,.8.9c.2.4.4.7.6,1.1h0v.1l.2,2.8.2,2.8a26.2,26.2,0,0,1,.1,2.8c0,.9.1,1.9.1,2.8a1.16,1.16,0,0,1-1.2,1.2h-5.8a1.16,1.16,0,0,1-1.2-1.2,26.2,26.2,0,0,1,.1-2.8c0-.9.1-1.9.1-2.8.1-1.9.2-3.8.4-5.7v-.1h0a10.91,10.91,0,0,1,.6-1.1,3.45,3.45,0,0,1,.8-.9,3.59,3.59,0,0,1,1-.7C127,78.9,127.4,78.7,127.8,78.6Z" transform="translate(-5.68 -11.06)" style="fill:#fff;stroke:#f2f0f0;stroke-miterlimit:10"/><path d="M161.9,174.2a13.17,13.17,0,0,0-6.5,7.7v50.2h12.9V181.9A12,12,0,0,0,161.9,174.2Z" transform="translate(-5.68 -11.06)" style="fill:#fff;stroke:#f2f0f0;stroke-miterlimit:10"/><path d="M161.9,174.2a8,8,0,0,0-2.1,1.5,10.08,10.08,0,0,0-1.7,1.9,9.8,9.8,0,0,0-1.3,2.2,11,11,0,0,0-.9,2.3V182c.1,4.2.3,8.4.4,12.6l.2,12.6.2,12.6.1,12.6-1.2-1.2h12.9l-1.2,1.2c0-4.2,0-8.4.1-12.6l.1-12.6.2-12.6L168,182v.1a9.17,9.17,0,0,0-.9-2.3,15.92,15.92,0,0,0-1.3-2.2,15.37,15.37,0,0,0-1.7-1.9A10.71,10.71,0,0,0,161.9,174.2Zm0,0a17.1,17.1,0,0,1,2.3,1.3,8.13,8.13,0,0,1,1.9,1.8c.6.7,1.1,1.4,1.6,2.1a25.57,25.57,0,0,1,1.1,2.4v.1h0c.1,4.2.3,8.4.3,12.6l.2,12.6.1,12.6c.1,4.2,0,8.4.1,12.6a1.16,1.16,0,0,1-1.2,1.2H155.4a1.22,1.22,0,0,1-1.2-1.2h0l.1-12.6.2-12.6.2-12.6c.1-4.2.2-8.4.4-12.6h0v-.1a13.35,13.35,0,0,1,1.1-2.4,11.26,11.26,0,0,1,1.5-2.1,10.71,10.71,0,0,1,1.9-1.8C160.4,175,161.2,174.6,161.9,174.2Z" transform="translate(-5.68 -11.06)" style="fill:#fff;stroke:#f2f0f0;stroke-miterlimit:10"/><path d="M93.2,174.2a13.17,13.17,0,0,0-6.5,7.7v50.2H99.6V181.9A12,12,0,0,0,93.2,174.2Z" transform="translate(-5.68 -11.06)" style="fill:#fff;stroke:#f2f0f0;stroke-miterlimit:10"/><path d="M93.2,174.2a8,8,0,0,0-2.1,1.5,10.08,10.08,0,0,0-1.7,1.9,9.8,9.8,0,0,0-1.3,2.2,11,11,0,0,0-.9,2.3V182c.1,4.2.3,8.4.4,12.6l.2,12.6.2,12.6.1,12.6-1.2-1.2H99.8l-1.2,1.2c0-4.2,0-8.4.1-12.6l.1-12.6.2-12.6.3-12.6v.1a9.17,9.17,0,0,0-.9-2.3,15.92,15.92,0,0,0-1.3-2.2,15.37,15.37,0,0,0-1.7-1.9A10.71,10.71,0,0,0,93.2,174.2Zm0,0a17.1,17.1,0,0,1,2.3,1.3,8.13,8.13,0,0,1,1.9,1.8c.6.7,1.1,1.4,1.6,2.1a25.57,25.57,0,0,1,1.1,2.4v.1h0c.1,4.2.3,8.4.3,12.6l.2,12.6.1,12.6c.1,4.2,0,8.4.1,12.6a1.16,1.16,0,0,1-1.2,1.2H86.7a1.22,1.22,0,0,1-1.2-1.2h0l.1-12.6.2-12.6.2-12.6c.1-4.2.2-8.4.4-12.6h0v-.1a13.35,13.35,0,0,1,1.1-2.4,11.26,11.26,0,0,1,1.5-2.1,10.71,10.71,0,0,1,1.9-1.8C91.7,175,92.5,174.6,93.2,174.2Z" transform="translate(-5.68 -11.06)" style="fill:#fff;stroke:#f2f0f0;stroke-miterlimit:10"/><path d="M198.1,187.6a13.17,13.17,0,0,0-6.5,7.7v36.8h12.9V195.3A12.38,12.38,0,0,0,198.1,187.6Z" transform="translate(-5.68 -11.06)" style="fill:#fff;stroke:#f2f0f0;stroke-miterlimit:10"/><path d="M198.1,187.6a11.26,11.26,0,0,0-2.1,1.5,15.37,15.37,0,0,0-1.7,1.9,9.8,9.8,0,0,0-1.3,2.2,11,11,0,0,0-.9,2.3v-.1c.1,3.1.2,6.1.3,9.2l.2,9.2.1,9.2c.1,3.1.1,6.1.1,9.2l-1.2-1.2h12.9l-1.2,1.2.1-9.2.1-9.2c.1-6.1.3-12.3.5-18.4v.1a9.17,9.17,0,0,0-.9-2.3,15.92,15.92,0,0,0-1.3-2.2,15.37,15.37,0,0,0-1.7-1.9A14.91,14.91,0,0,0,198.1,187.6Zm0,0a17.1,17.1,0,0,1,2.3,1.3,11.23,11.23,0,0,1,2,1.8c.6.7,1.1,1.4,1.6,2.1a11.18,11.18,0,0,1,1.1,2.5v.1h0c.2,6.1.4,12.3.5,18.4l.1,9.2.1,9.2a1.16,1.16,0,0,1-1.2,1.2H191.7a1.16,1.16,0,0,1-1.2-1.2c0-3.1,0-6.1.1-9.2l.1-9.2.2-9.2c.1-3.1.2-6.1.3-9.2v-.2a13.35,13.35,0,0,1,1.1-2.4,11.6,11.6,0,0,1,1.6-2.1,8.6,8.6,0,0,1,2-1.8A11.6,11.6,0,0,1,198.1,187.6Z" transform="translate(-5.68 -11.06)" style="fill:#fff;stroke:#f2f0f0;stroke-miterlimit:10"/><path d="M57.1,187.6a13.17,13.17,0,0,0-6.5,7.7v36.8H63.5V195.3A12.38,12.38,0,0,0,57.1,187.6Z" transform="translate(-5.68 -11.06)" style="fill:#fff;stroke:#f2f0f0;stroke-miterlimit:10"/><path d="M57.1,187.6a11.26,11.26,0,0,0-2.1,1.5,15.37,15.37,0,0,0-1.7,1.9,9.8,9.8,0,0,0-1.3,2.2,11,11,0,0,0-.9,2.3v-.1c.1,3.1.2,6.1.3,9.2l.2,9.2.1,9.2c.1,3.1.1,6.1.1,9.2L50.6,231H63.5l-1.2,1.2.1-9.2.1-9.2c.1-6.1.3-12.3.5-18.4v.1a9.17,9.17,0,0,0-.9-2.3,15.92,15.92,0,0,0-1.3-2.2,15.37,15.37,0,0,0-1.7-1.9A14.91,14.91,0,0,0,57.1,187.6Zm0,0a17.1,17.1,0,0,1,2.3,1.3,11.23,11.23,0,0,1,2,1.8c.6.7,1.1,1.4,1.6,2.1a11.18,11.18,0,0,1,1.1,2.5v.1h0c.2,6.1.4,12.3.5,18.4l.1,9.2.1,9.2a1.16,1.16,0,0,1-1.2,1.2H50.7a1.16,1.16,0,0,1-1.2-1.2c0-3.1,0-6.1.1-9.2l.1-9.2.2-9.2c.1-3.1.2-6.1.3-9.2v-.2a13.35,13.35,0,0,1,1.1-2.4,11.6,11.6,0,0,1,1.6-2.1,8.6,8.6,0,0,1,2-1.8A11.61,11.61,0,0,1,57.1,187.6Z" transform="translate(-5.68 -11.06)" style="fill:#fff;stroke:#f2f0f0;stroke-miterlimit:10"/><path d="M127.8,147c-14.1,8-17.8,24.6-17.8,24.6v69.2h35.5V171.6C145.6,171.6,141.9,155,127.8,147Z" transform="translate(-5.68 -11.06)" style="fill:#fff;stroke:#f2f0f0;stroke-miterlimit:10"/><path d="M127.8,147l-1.6,1.1-.8.5c-.3.2-.5.4-.8.6l-1.5,1.2-1.4,1.3a35.65,35.65,0,0,0-4.9,6,40.47,40.47,0,0,0-3.7,6.8,38,38,0,0,0-2.4,7.2v-.1c.2,11.5.3,23.1.4,34.6l.1,17.3.1,17.3-1.3-1.3h35.6l-1.3,1.3c0-11.5.1-23.1.2-34.6s.2-23.1.4-34.6v.1a46.78,46.78,0,0,0-2.4-7.2,44.78,44.78,0,0,0-3.7-6.8,40.13,40.13,0,0,0-4.9-6l-1.4-1.3-1.5-1.2c-.3-.2-.5-.4-.8-.6l-.8-.5Zm0,0a35.19,35.19,0,0,1,6.4,4.5,40.7,40.7,0,0,1,5.2,5.8,45.6,45.6,0,0,1,4,6.7,47,47,0,0,1,2.8,7.4v.1h0c.2,11.5.3,23.1.4,34.6s.2,23.1.2,34.6a1.32,1.32,0,0,1-1.3,1.3H109.9a1.32,1.32,0,0,1-1.3-1.3h0l.1-17.3.1-17.3c.1-11.5.2-23.1.4-34.6h0v-.1A47,47,0,0,1,112,164a40.91,40.91,0,0,1,4-6.7,35.91,35.91,0,0,1,5.2-5.8A45.38,45.38,0,0,1,127.8,147Z" transform="translate(-5.68 -11.06)" style="fill:#fff;stroke:#f2f0f0;stroke-miterlimit:10"/><line x1="122.12" y1="135.94" x2="122.12" y2="229.74" style="fill:none;stroke:#f2f0f0;stroke-miterlimit:10"/><path d="M127.8,147c.6,7.8.8,15.6,1,23.5s.3,15.6.3,23.5l-.1,11.7c-.1,3.9-.1,7.8-.2,11.7-.2,7.8-.5,15.6-1,23.5-.6-7.8-.9-15.6-1-23.5-.1-3.9-.1-7.8-.2-11.7l-.1-11.7c0-7.8.1-15.6.3-23.5S127.2,154.8,127.8,147Z" transform="translate(-5.68 -11.06)" style="fill:#fff;stroke:#f2f0f0;stroke-miterlimit:10"/><path d="M21.5,235.5c-.1-2.5-.2-5-.3-7.4l-.2-7.4c-.1-5-.1-9.9-.2-14.9a.55.55,0,0,1,.3-.5l13.2-9,6.7-4.4c2.3-1.4,4.5-2.9,6.7-4.3-2.1,1.6-4.3,3.2-6.4,4.8l-6.5,4.7c-4.3,3.1-8.7,6.1-13.1,9.2l.3-.5c0,5,0,9.9-.2,14.9l-.2,7.4C21.7,230.5,21.6,233,21.5,235.5Z" transform="translate(-5.68 -11.06)" style="fill:#fff;stroke:#f2f0f0;stroke-miterlimit:10"/><path d="M231.9,206.1a148.46,148.46,0,0,1,.6,14.9,148.46,148.46,0,0,1-.6,14.9,148.46,148.46,0,0,1-.6-14.9C231.3,216.1,231.4,211.1,231.9,206.1Z" transform="translate(-5.68 -11.06)" style="fill:#fff;stroke:#f2f0f0;stroke-miterlimit:10"/><path d="M80.8,136c.1,3.5.2,7.1.3,10.6l.2,10.6c.1,7.1.1,14.1.1,21.2s0,14.1-.1,21.2L81.1,210c-.1,3.5-.2,7.1-.3,10.6-.1-3.5-.2-7.1-.3-10.6l-.2-10.6c-.1-7.1-.1-14.1-.1-21.2s0-14.1.1-21.2l.2-10.6C80.5,143,80.6,139.5,80.8,136Z" transform="translate(-5.68 -11.06)" style="fill:#fff;stroke:#f2f0f0;stroke-miterlimit:10"/><path d="M114.3,75.6c.5,6.2.6,12.4.6,18.6s-.1,12.4-.6,18.6c-.5-6.2-.6-12.4-.6-18.6S113.9,81.8,114.3,75.6Z" transform="translate(-5.68 -11.06)" style="fill:#fff;stroke:#f2f0f0;stroke-miterlimit:10"/><path d="M67,98.7a7.6,7.6,0,0,0-14.3-3.6,7.6,7.6,0,0,0-14.3,3.6v.8h0s-.1,6.2,13.9,18.2a.52.52,0,0,0,.7,0c9.2-7.9,12.3-13.3,13.3-16A6.58,6.58,0,0,0,67,98.7Z" transform="translate(-5.68 -11.06)" style="fill:#fff;stroke:#fff4f2;stroke-miterlimit:10"/><path d="M67,98.7a7.55,7.55,0,0,0-1.6-4.6,7.47,7.47,0,0,0-4.1-2.6,6.89,6.89,0,0,0-4.7.5,7.52,7.52,0,0,0-3.3,3.3.43.43,0,0,1-.7.2.22.22,0,0,1-.2-.2h0a6.64,6.64,0,0,0-3.6-3,6.94,6.94,0,0,0-4.5,0,6.66,6.66,0,0,0-3.4,2.8,6.34,6.34,0,0,0-.9,4.2h0a1.11,1.11,0,0,1-1.1,1.3h-.1L40,99.4s0,.3.1.4a1.42,1.42,0,0,0,.2.6,6.12,6.12,0,0,0,.5,1.2c.4.8.8,1.6,1.3,2.4a48.43,48.43,0,0,0,3.3,4.6c.6.7,1.2,1.5,1.9,2.2s1.3,1.4,1.9,2.1,1.3,1.4,2,2.1l2.1,2,.1.1c-.1-.1-.1,0-.2-.1h-.1l.6-.5,1.2-1c.8-.7,1.6-1.3,2.3-2,1.5-1.4,3-2.8,4.4-4.3a35.71,35.71,0,0,0,3.8-4.9,24.37,24.37,0,0,0,1.4-2.8C66.7,100.8,67,99.7,67,98.7Zm0,0a7.65,7.65,0,0,1-.6,3,23.94,23.94,0,0,1-1.3,2.8,35.44,35.44,0,0,1-3.5,5.1c-1.3,1.6-2.7,3.2-4.1,4.7-.7.8-1.5,1.5-2.2,2.2l-1.1,1.1-.6.6a1.91,1.91,0,0,1-.8.3,1.09,1.09,0,0,1-.9-.4l.1.1-2.3-1.9c-.8-.6-1.5-1.3-2.2-1.9a41.63,41.63,0,0,1-4.2-4.2,42.91,42.91,0,0,1-3.6-4.8c-.5-.9-1-1.8-1.4-2.7a8.8,8.8,0,0,1-.5-1.5c-.1-.3-.1-.5-.2-.8a2.79,2.79,0,0,1-.1-1,1.2,1.2,0,0,1,1.1-1.2h.1l-1.2,1.3A8.23,8.23,0,0,1,39,93.8a8.5,8.5,0,0,1,4.7-3.4,8.59,8.59,0,0,1,5.7.4,8.68,8.68,0,0,1,4,3.8h-.9a8.36,8.36,0,0,1,4-3.4,8.08,8.08,0,0,1,5.1-.2,7.43,7.43,0,0,1,4.1,2.8A10.54,10.54,0,0,1,67,98.7Z" transform="translate(-5.68 -11.06)" style="fill:#fff;stroke:#fff4f2;stroke-miterlimit:10"/><path d="M75.7,68.8a4.7,4.7,0,0,0-8.8-2.3,4.7,4.7,0,0,0-8.8,2.3v.5h0s-.1,3.8,8.5,11.2a.28.28,0,0,0,.4,0c5.7-4.8,7.5-8.1,8.2-9.8A3.2,3.2,0,0,0,75.7,68.8Z" transform="translate(-5.68 -11.06)" style="fill:#fff;stroke:#fff4f2;stroke-miterlimit:10"/><path d="M75.7,68.8a4.55,4.55,0,0,0-1-2.8,4.36,4.36,0,0,0-2.5-1.5,4.17,4.17,0,0,0-2.9.4,4.09,4.09,0,0,0-1.9,2,.52.52,0,0,1-.7.3.22.22,0,0,1-.2-.2v-.1a3.56,3.56,0,0,0-2.2-1.6,3.85,3.85,0,0,0-2.6.1A4.21,4.21,0,0,0,59.8,67a4.56,4.56,0,0,0-.5,2.3v.4a.37.37,0,0,0,.1.3c.1.2.2.5.3.7.2.5.5,1,.7,1.4.6.9,1.2,1.9,1.9,2.8a28.48,28.48,0,0,0,2.3,2.6c.8.9,1.6,1.7,2.4,2.5l.1.1a.37.37,0,0,0-.3-.1.35.35,0,0,0-.2.1l.4-.3.8-.6L69.3,78a34.46,34.46,0,0,0,2.8-2.6,13.31,13.31,0,0,0,2.3-3A6.86,6.86,0,0,0,75.7,68.8Zm0,0a4.33,4.33,0,0,1-.4,1.9,8.86,8.86,0,0,1-.8,1.7,22,22,0,0,1-2.1,3.2c-.8,1-1.6,2-2.5,3-.4.5-.9.9-1.3,1.4l-.6.7-.4.3a1.14,1.14,0,0,1-.7.3.91.91,0,0,1-.7-.3l.1.1a31.12,31.12,0,0,1-2.8-2.3,31.89,31.89,0,0,1-2.6-2.6,23.72,23.72,0,0,1-2.3-3,9.15,9.15,0,0,1-.9-1.7,10.38,10.38,0,0,1-.4-1,1.09,1.09,0,0,1-.1-.5,5.64,5.64,0,0,1-.1-.7v.2a5.76,5.76,0,0,1,1-3.8,5.51,5.51,0,0,1,3.2-2.2,5.21,5.21,0,0,1,3.7.4,5.5,5.5,0,0,1,2.5,2.5h-.9a4.91,4.91,0,0,1,2.6-2.1,5,5,0,0,1,3.2-.1A5.07,5.07,0,0,1,74.9,66,5.38,5.38,0,0,1,75.7,68.8Z" transform="translate(-5.68 -11.06)" style="fill:#fff;stroke:#fff4f2;stroke-miterlimit:10"/></svg>
              </div>

          </div>
          
          <div class="location__wrapper location--2">

            <div class="location__item">
              <!-- <img src="/images/ktima-550.jpg" alt=""> -->
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 175.83 127.55"><title>ktima</title><path d="M207.87,174.92c-.24-.07-.49-.1-.73-.16,0,0,0-.09,0-.14a92.28,92.28,0,0,0-6.88-33c-3.62-8.62-8.19-18.15-14.52-24.71-7.06-7.32-16.73-13.69-25.53-18-7.75-3.79-15.79-4.9-24-4.86,0,0,0,0,0-.06.11-3.18-.37-7,.68-10.07h.29c.75,0,1.05-1.12,1-1.79l-.29-2.3C140.37,78.54,141.62,75,141,72a8.68,8.68,0,0,0-8.76-7.06c-3.71.27-7,3.57-7.84,7.58-.43,2.13.1,6.6,2.33,7.25a3.2,3.2,0,0,0-.24,1,4.45,4.45,0,0,0,1.31,4c.32.27.59.11.78-.23,2.28-.08,4.53-.42,6.82-.5a26.24,26.24,0,0,0-.42,3.66,17,17,0,0,0,.5,6.46c-1.78,0-3.57.08-5.37.19-10.65.67-21.47,1.4-31.37,6.18a66.15,66.15,0,0,0-20.53,16,105.07,105.07,0,0,0-16.66,26.82c-4.15,9.29-8.67,19.65-8.34,30.24-3.77.2-7.42.94-10.7,3.38A.7.7,0,0,0,42,177c-.68.36-.84,1.52-.81,2.23s.67,3.36,1.66,3.51c0,.14.07.26.18.26,1.22,0,2.43,0,3.65,0a1.12,1.12,0,0,0,0,.19,11.57,11.57,0,0,0,3.49,7.22.36.36,0,0,0,.44,0l.27-.18s0,0,0-.07c0,.23.15.4.34.42,25.61,2.36,51.67,1.25,77.35,1.27,12.83,0,25.66-.06,38.5-.09s26.66-1.44,39.42.76c.27,0,.49-.15.65-.44a2.16,2.16,0,0,0,.46-1.17,1,1,0,0,0,0-.36c1.36-2.27,3.35-4.23,4.18-6.79a1,1,0,0,0,0-.2c1.3-.08,2.61-.17,3.9-.29.35,0,.52-1.07.13-1.12-14.32-2-29.37-.94-43.79-1.27s-28.78-.5-43.18-.6c-28.33-.19-56.87-.42-85.16,1.64,0,0,0-.09,0-.13-.58-1-1.65-1.53-1.45-2.95.12-.84.09-.42.58-.89.07-.06.17-.1.22-.19a.18.18,0,0,0,0-.11s0,0,0-.05c6.26-3.76,14.13-2.3,21-2.13,7.07.18,14.14.37,21.21.52,15,.31,30,.61,44.94.76,13.91.14,27.76-.18,41.66-.89,7.68-.39,15.37-1.17,23.06-.74a101.94,101.94,0,0,1,10.68.85c.17.4.51.37.84.14,4.79.84,9.2,2.47,9.69,5.83.15,1,1,.07.89-.62C216.24,176.53,211.49,175.9,207.87,174.92Zm-77,7.55c14,.12,28,.49,42,.6,12.51.1,25.4,1.24,38,.53a25.89,25.89,0,0,0-2.84,3.93,12.55,12.55,0,0,0-1.63,2.54c-12.42-1-25.22,0-37.68-.1-13.2-.12-26.41-.28-39.61-.35-25.73-.15-51.74,1.14-77.42-.92-.26,0-.47.22-.6.53-.25-1.06-1.16-1.68-1.74-2.61A10.24,10.24,0,0,1,47.9,183C75.55,183.1,103.21,182.23,130.87,182.46ZM128.06,79c-2.08-2.27-3.64-4.08-2.05-7.68a7.51,7.51,0,0,1,5.75-4.4c5.7-.71,11.36,7.25,5.19,11.47a.62.62,0,0,0-.16.2,33.58,33.58,0,0,0-8.71.45Zm.82,3.8a.81.81,0,0,0-.08-.24,3.16,3.16,0,0,1-.4-.78,38.22,38.22,0,0,1,8-.5l0,.16A21.94,21.94,0,0,0,128.87,82.8Zm58.32,90.39c-17.67,1.43-35.33,1.54-53,1.41-16.56-.12-33.12-.58-49.68-.83-8.66-.13-17.32-.22-26-.32-1.48,0-3,0-4.42,0,0,0,0-.06,0-.1-.2-11.68,5.67-24,10.74-34a94.66,94.66,0,0,1,16.74-24C95.83,101,112.5,97.91,131.13,96.91c10.62-.57,20.64.54,30.3,5.74A107.59,107.59,0,0,1,183.17,118c6.93,6.44,11.8,16.46,15.57,25.45a90.27,90.27,0,0,1,6.68,30.89A60.4,60.4,0,0,0,187.2,173.19Z" transform="translate(-41.17 -64.93)" style="fill:#f2f0f0"/><path d="M130.16,90.81c-.1-1.81-.17-3.62-.3-5.43a.88.88,0,0,0-.5-.81l-.14,0c-.19-.06-.35.16-.44.3-.66,1-.39,2.22-.31,3.4l.34,4.78c0,.53.38.88.84.66l0,0s.06,0,.14-.13h0a2.24,2.24,0,0,0,.39-1.48v0C130.22,91.62,130.18,91.2,130.16,90.81Z" transform="translate(-41.17 -64.93)" style="fill:#f2f0f0"/><path d="M131.3,153.9c-2-2.72-5.43-4.19-7.55-7.06a22.17,22.17,0,0,1-4-9.67,8.74,8.74,0,0,1,8.73,6.18c.34,1.09,1.31-.48,1.1-1.18a9.77,9.77,0,0,0-10.66-7c-.56.07-.73,1-.69,1.43a24,24,0,0,0,3.94,11c1.78,2.62,5.38,7.2,8.79,7.17C131.32,154.76,131.49,154.16,131.3,153.9Z" transform="translate(-41.17 -64.93)" style="fill:#fff4f2"/><path d="M137.44,136c-4.3-2.4-9.92,6.36-6.57,7.72.08,0,.09-.13.08-.17-1-4.16,3.23-7.8,6.71-5.56,4.32,2.78-1,8.46-3,10.89-1.57,2-2.82,3.87-3.06,6.39-.06.6.55.72.74.16,1.57-4.61,5.8-7.51,7.27-12.08C140.47,140.75,140,137.45,137.44,136Z" transform="translate(-41.17 -64.93)" style="fill:#fff4f2"/><path d="M166.26,143.45c-2.25-2.73-4.35,1.67-4.74,3.36-.2.88.66,1.07.87.19a7.38,7.38,0,0,1,.65-1.91,1.67,1.67,0,0,1,2.33-.58c.44.81-.62,1.87-1,2.42l-3.06,4.29a38.92,38.92,0,0,1-4.64-5.69,3.93,3.93,0,0,1,2.28.46,8.51,8.51,0,0,1,2,1.53c.12.2.29-.2.24-.32-.56-1.46-.56-2.12-2.18-2.85a4.63,4.63,0,0,0-3.5-.15,1,1,0,0,0-.42,1.41,40.14,40.14,0,0,0,5.91,7.3c.21.2.48-.09.59-.24,1.53-2.16,3.56-4.36,4.72-6.73A2.28,2.28,0,0,0,166.26,143.45Z" transform="translate(-41.17 -64.93)" style="fill:#fff4f2"/><path d="M100.21,143.83l-2.68,1.54c-.53.3-.53,1.9.19,1.48l2-1.15a9.27,9.27,0,0,1-2.26,5.4c-1.76-1-4.9-3.1-4.45-5.33a29.72,29.72,0,0,0,4.24,2.89c.54.27.74-.81.44-1.12A39.93,39.93,0,0,0,93.13,144c-.22-.16-.5,0-.6.25-1.95,3.78,1.57,6.88,4.65,8.54a.39.39,0,0,0,.51-.11,11.68,11.68,0,0,0,3.12-8.21C100.81,144.14,100.65,143.58,100.21,143.83Z" transform="translate(-41.17 -64.93)" style="fill:#fff4f2"/></svg>
            </div>

            <div class="location__info location__item">
              <h3 class="blue">Δεξίωση Γάμου</h3>
              <hr class="hr-style-1">
              <p>Η δεξίωση γάμου θα γίνει στο Κτήμα Γάλβα</p>
              <p class="mb-0">Περιοχή Ζεστά νερά Σιδηροκάστρου</p>
              <p>Τηλ: +30 698 28 00 200</p>
              <img src="/images/icon-w-cake-150.jpg" alt="">
            </div>

          </div>
        
        </div>

        <div class="map__wrapper">
          <div class="sidebar">
            <div id="listings" class="listings"></div>
          </div>
          <div id="map" class="map"></div>
        </div>

        <div class="container text-center mt-5 mb-1">
          <a href="https://www.google.com/maps/d/u/0/viewer?hl=el&hl=el&mid=1OT7609T9apUuXfsGDAqGCHSvbjRutBne&ll=41.22992660000003%2C23.391430799999995&z=14" rel="noreferrer" target="_blank" class="btn">Χάρτης Google Maps</a>
        </div>

      </div>

    
      <!-- Gallery -->
      <div id="gallery" class="panel transition-2">
        <div class="container">
          <h2 class="blue text-center section-title">Φωτογραφίες</h2>

          <picture>
            <source srcset="images/flowers-tr-04-200.webp" type="image/webp">
            <source srcset="images/flowers-tr-04-200.png" type="image/png">
            <img src="images/flowers-tr-04-200.png" alt="λουλούδια">
          </picture>

          <div class="my-gallery transition-1" id="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    
            <figure class="my-gallery__item--1" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="./images/IMG_001.jpg" itemprop="contentUrl" data-size="684x960">
                    <img class="my-gallery__img" src="./images/photos-thumbs-v-IMG_001.jpg" itemprop="thumbnail" alt="Image description" />
                </a>
            </figure>
    
            <figure class="my-gallery__item--2" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="./images/IMG_002.jpg" itemprop="contentUrl" data-size="1200x881">
                    <img class="my-gallery__img" src="./images/photos-thumbs-h-IMG_002.jpg" itemprop="thumbnail" alt="Image description" />
                </a>
            </figure>
    
            <figure class="my-gallery__item--3" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="./images/IMG_003.jpg" itemprop="contentUrl" data-size="730x1024">
                    <img class="my-gallery__img" src="./images/photos-thumbs-v-IMG_003.jpg" itemprop="thumbnail" alt="Image description" />
                </a>
            </figure>
    
            <figure class="my-gallery__item--4" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="./images/IMG_004.jpg" itemprop="contentUrl" data-size="1200x881">
                    <img class="my-gallery__img" src="./images/photos-thumbs-h-IMG_004.jpg" itemprop="thumbnail" alt="Image description" />
                </a>
            </figure>
            
            <figure class="my-gallery__item--5" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="./images/IMG_006.jpg" itemprop="contentUrl" data-size="1200x881">
                    <img class="my-gallery__img" src="./images/photos-thumbs-h-IMG_006.jpg" itemprop="thumbnail" alt="Image description" />
                </a>
            </figure>
    
            <figure class="my-gallery__item--6" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="./images/IMG_005.jpg" itemprop="contentUrl" data-size="730x1024">
                    <img class="my-gallery__img" src="./images/photos-thumbs-v-IMG_005.jpg" itemprop="thumbnail" alt="Image description" />
                </a>
            </figure>
    
    
            <figure class="my-gallery__item--7" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="./images/IMG_007.jpg" itemprop="contentUrl" data-size="730x1024">
                    <img class="my-gallery__img" src="./images/photos-thumbs-v-IMG_007.jpg" itemprop="thumbnail" alt="Image description" />
                </a>
            </figure>
    
            <figure class="my-gallery__item--8" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="./images/IMG_008.jpg" itemprop="contentUrl" data-size="1200x881">
                    <img class="my-gallery__img" src="./images/photos-thumbs-h-IMG_008.jpg" itemprop="thumbnail" alt="Image description" />
                </a>
            </figure>
          </div>
    
          <!-- Root element of PhotoSwipe. Must have class pswp. -->
          <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    
            <!-- Background of PhotoSwipe. 
                It's a separate element, as animating opacity is faster than rgba(). -->
            <div class="pswp__bg"></div>
    
            <!-- Slides wrapper with overflow:hidden. -->
            <div class="pswp__scroll-wrap">
    
                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>
    
                <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                <div class="pswp__ui pswp__ui--hidden">
    
                    <div class="pswp__top-bar">
        
                        <div class="pswp__counter"></div>
    
                        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
    
                        <button class="pswp__button pswp__button--share" title="Share"></button>
    
                        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
    
                        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
    
                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                              <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                              </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                        <div class="pswp__share-tooltip"></div> 
                    </div>
    
                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                    </button>
    
                    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                    </button>
    
                    <div class="pswp__caption">
                        <div class="pswp__caption__center"></div>
                    </div>
    
                  </div>
    
                </div>
    
          </div>
        </div>
      </div>
    
      <!-- Song -->
      <div id="song" class="panel">
        <!-- Progress -->
        <div id="waveform"></div>
        <div id="bar"></div>
        <div id="progress"></div>
        <!-- Top Info -->
        <div class="song-wrapper transition-1" id="song-wrapper">
          <div class="container">
            <h2 class="text-center blue">Το τραγούδι μας</h2>
            <picture>
              <source srcset="images/flowers-tr-04-200.webp" type="image/webp">
              <source srcset="images/flowers-tr-04-200.png" type="image/png">
              <img src="images/flowers-tr-04-200.png" alt="λουλούδια">
            </picture>
            <div id="song-title">
              <span id="timer">0:00</span> / <span id="duration">0:00</span>
            </div>
          </div>
      
          <!-- Controls -->
          <div class="controlsOuter">
            <div class="controlsInner">
              <div id="loading"></div>
              <div class="song-btn" id="playBtn"></div>
              <div class="song-btn" id="pauseBtn"></div>
            </div>
            <div class="song-btn" id="volumeBtn"></div>
          </div>
        </div>
    
        <!-- Volume -->
        <div id="volume" class="fadeout">
          <div id="barFull" class="bar"></div>
          <div id="barEmpty" class="bar"></div>
          <div id="sliderBtn"></div>
        </div>
      </div>
    
      <!-- RSVP -->
      <div id="rsvp" class="panel rsvp__panel transition-1">
        <div class="container">
          
          <div class="form-wrapper flowers">
            <div class="front">
              <form action="/rsvp" id="rsvp-form" class="rsvp__form" method="POST">
                <h2 class="blue">Θα παρευρεθείτε;</h2>
                <p class="subtitle">Παρακαλώ, ενημερώστε μας για την παρουσία σας</p>
                <div class="form-group">
                  <label for="name" class="rsvp__label">Όνομα</label>
                  <input type="text" name="name" id="name" placeholder="Όνομα" required>
                </div>
        
                <div class="form-group">
                  <label class="rsvp__label">
                    <input type="radio" name="rsvpRes" id="rsvp-yes" value="1" class="rsvp__radio" required>
                    <span class="rsvp__text">Ναι, θα έρθω</span>
                  </label>
                
                  <label class="rsvp__label">
                    <input type="radio" name="rsvpRes" id="rsvp-no" value="0" class="rsvp__radio">
                    <span class="rsvp__text">Λυπάμαι, όχι</span>
                  </label>
                </div>

                <div class="error-message" id="error"></div>
                
                <div class="form-group">
                  <button type="submit" id="rsvpBtn">Αποστολή</button>
                </div>
              </form>
            </div>
            <div class="back hidden">
              <div class="back-wrapper text-center">
                <h2 class="blue">Ευχαριστούμε!</h2>
                <picture>
                  <source srcset="images/flowers-tr-04-200.webp" type="image/webp">
                  <source srcset="images/flowers-tr-04-200.png" type="image/png">
                  <img src="images/flowers-tr-04-200.png" alt="λουλούδια">
                </picture>
                <p class="mt-2">Η απάντησή σας εστάλη επιτυχώς!</p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div id="instagram" class="mt-100 mb-100">
        <div class="container">
          <h2 class="hashtag title-header text-center blue"><a href="https://www.instagram.com/explore/tags/dimitriseirini050920/?hl=el" rel="noreferrer" target="_blank">#dimitriseirini050920</a></h2>
          <p class="mt2 text-center">Ακολουθήστε μας στο Instagram</p>
        </div>
      </div>
    </main>
  </div>
</div>

<script async src="./js/checks.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script>

  var loader = document.getElementById("loader");
  var html = document.querySelector("html");

  loader.classList.remove("loader--hidden");
  html.classList.add("no-scroll");

  var imgLoad = imagesLoaded( document.getElementsByTagName('body')[0], { background: true } );

  imgLoad.on( 'always', function( instance ) {
    console.log('ALWAYS - all images have been loaded');
    setTimeout(function(){
      loader.classList.add("loader--hidden");
      html.classList.remove("no-scroll");
      document.querySelector("body").classList.add("loaded");
    }, 1500);
  });
  
</script>
<script async src="./js/vendor/sakura.min.js"></script>
<script src="./js/vendor/ScrollMagic.min.js"></script>
<!-- <script src="./js/vendor/plugins/debug.addIndicators.min.js"></script> -->
<script async src="./js/vendor/howler.core.min.js"></script>
<script async src="./js/siriwave.min.js"></script>
<script async src="./js/song.min.js"></script>
<script async src="./js/vendor/photoswipe.min.js"></script>
<script async src="./js/vendor/photoswipe-ui-default.min.js"></script>
<script async src="./js/main.min.js"></script>
</body>