<!DOCTYPE html>
<html lang="el" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Δημήτρης &amp; Είρηνη</title>
	<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
	<meta name="description" content="Προσκλητήριο γάμου του Δημήτρη και της Ειρήνης">
	<!-- <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;1,800&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet"> -->

	<%- body %>

</html>