@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body, h1, h2, h3, h4, p, div, button, img, span, hr, form, input, label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-size: 18px; */
  width: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
  font-family: 'EB Garamond', Georgia, 'Times New Roman', Times, serif;
  font-weight: 800;
  font-style: italic;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
}

main {
  display: block;
}

figure {
  margin: 0;
}

html {
  font-size: 16px;
  line-height: 27px;
}

body, .article {
  font-size: 1em;
  line-height: 1.6875em;
  margin: auto;
}

h1, .h1 {
  font-size: 4.25em;
  line-height: 1.19117647em;
  margin-top: 0.39705882em;
  margin-bottom: 0.79411764em;
}

h2, .h2 {
  font-size: 2.625em;
  line-height: 1.28571429em;
  margin-top: 0.64285714em;
  margin-bottom: 0.64285714em;
}

h3, .h3 {
  font-size: 1.625em;
  line-height: 1.03846154em;
  margin-top: 1.03846154em;
  margin-bottom: 0em;
}

h4, .h4 {
  font-size: 1em;
  line-height: 1.6875em;
  margin-top: 1.6875em;
  margin-bottom: 0em;
}

h5, .h5 {
  font-size: 1em;
  line-height: 1.6875em;
  margin-top: 1.6875em;
  margin-bottom: 0em;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 0em;
  margin-bottom: 1.6875em;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

a, b, i, strong, em, small, code {
  line-height: 1;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
    line-height: 31px;
  }
}

::-moz-selection {
  background-color: #f9c7bc;
}

::selection {
  background-color: #f9c7bc;
}

hr.hr-style-1 {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double #ccc;
  color: #ffe9e2;
  text-align: center;
  width: 50%;
  margin: 30px auto 0;
}

hr.hr-style-1:after {
  content: "♥";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}

.divider {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.panel {
  position: relative;
  padding: 30px 0;
  min-height: 120vh;
}

@media (min-height: 1080px) {
  .panel {
    min-height: auto;
    padding: 60px 0;
  }
}

h2.section-title {
  margin: 2.5em 0 2em;
}

body.loading {
  overflow: hidden;
}

.loader {
  display: block;
  width: 100%;
  width: 100vw;
  height: 100%;
  height: 100vh;
  background-color: #feede5;
  position: fixed;
  z-index: 9999;
}

.loader--hidden {
  display: none;
}

p.loader-text {
  color: #5c453f;
  text-align: center;
  font-size: 20px;
  margin-top: 1em;
}

#loader {
  width: 100%;
  height: 100%;
  background: #feede5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loading-wrapper {
  visibility: visible;
  opacity: 1;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}

.loader-heart {
  position: relative;
  width: 100px;
  height: 90px;
  opacity: 0;
  -webkit-animation: pulse2 1.8s linear infinite;
  animation: pulse2 1.8s linear infinite;
}

.loader-heart:before,
.loader-heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #ffb8b8;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.loader-heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.loader-heart1 {
  top: 0;
  left: 51%;
}

.loader-heart2 {
  width: 30px;
  top: 38px;
  left: 41%;
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
}

.loader-heart3 {
  width: 20px;
  left: 47%;
  top: 78px;
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
}

@-webkit-keyframes pulse2 {
  0% {
    -webkit-transform: translateY(5px) scale(0.8);
    opacity: 0;
  }
  30% {
    -webkit-transform: scale(1) translateY(-10px);
    opacity: 0.8;
  }
  60% {
    -webkit-transform: scale(0.8) translateY(-20px);
    opacity: 0;
  }
}

@keyframes pulse2 {
  0% {
    -webkit-transform: translateY(5px) scale(0.8);
            transform: translateY(5px) scale(0.8);
    opacity: 0;
  }
  30% {
    -webkit-transform: scale(1) translateY(-10px);
            transform: scale(1) translateY(-10px);
    opacity: 0.8;
  }
  60% {
    -webkit-transform: scale(0.8) translateY(-20px);
            transform: scale(0.8) translateY(-20px);
    opacity: 0;
  }
}

.mt-0 {
  margin-top: 0px;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mt-3 {
  margin-top: 3em;
}

.mt-4 {
  margin-top: 4em;
}

.mt-5 {
  margin-top: 5em;
}

.mt-100 {
  margin-top: 100px;
}

.mt-200 {
  margin-top: 200px;
}

.mt-300 {
  margin-top: 300px;
}

.mt-400 {
  margin-top: 400px;
}

.mt-500 {
  margin-top: 500px;
}

.mt-600 {
  margin-top: 600px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mb-3 {
  margin-bottom: 3em;
}

.mb-4 {
  margin-bottom: 4em;
}

.mb-5 {
  margin-bottom: 5em;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-200 {
  margin-bottom: 200px;
}

.mb-300 {
  margin-bottom: 300px;
}

.mb-400 {
  margin-bottom: 400px;
}

.mb-500 {
  margin-bottom: 500px;
}

.mb-600 {
  margin-bottom: 600px;
}

.pt-0 {
  padding-top: 0px;
}

.pt-1 {
  padding-top: 1em;
}

.pt-2 {
  padding-top: 2em;
}

.pt-3 {
  padding-top: 3em;
}

.pt-4 {
  padding-top: 4em;
}

.pt-5 {
  padding-top: 5em;
}

.pt-30 {
  padding-top: 30px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-200 {
  padding-top: 200px;
}

.pt-300 {
  padding-top: 300px;
}

.pt-400 {
  padding-top: 400px;
}

.pt-500 {
  padding-top: 500px;
}

.pt-600 {
  padding-top: 600px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-1 {
  padding-bottom: 1em;
}

.pb-2 {
  padding-bottom: 2em;
}

.pb-3 {
  padding-bottom: 3em;
}

.pb-4 {
  padding-bottom: 4em;
}

.pb-5 {
  padding-bottom: 5em;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-50 {
  padding-bottom: 50px;
}

.text-light {
  font-weight: 300;
}

.text-calligraphic {
  font-family: 'EB Garamond', Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 0;
  /* font-size: 2em; */
  /* margin: 0; */
  background: #ffe9e2;
  width: 40px;
  display: inline-block;
  /* margin: 0 auto; */
  height: 40px;
  line-height: 40px;
  color: #7a7188;
  border-radius: 50%;
  padding: 0;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.blue {
  color: #7a7188;
}

.beige {
  /* color: #ffd2c0; */
  color: #f8c7bc;
}

.beige::-moz-selection {
  color: #7a7188;
}

.beige::selection {
  color: #7a7188;
}

.wrapper {
  position: relative;
}

main {
  margin-top: 50vh;
}

/* .container {
  padding: 0 15px;
  height: 100%;
} */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

button, .btn {
  border: none;
  font-family: 'Open Sans Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  padding: 9px 18px;
  padding: .5em 1em;
  cursor: pointer;
  background: #ffece4;
  color: #000000;
  text-decoration: none;
}

button:hover, .btn:hover {
  background-color: #ffe2d6;
}

input[type=text], textarea, input[type=email], input[type=password] {
  position: relative;
  width: 100%;
  margin: 0 0 11px;
  padding: 11px 24px;
  font-family: 'Open Sans Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: inherit;
  color: #979797;
  background-color: transparent;
  border: 1px solid #ebebeb;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  cursor: text;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: border-color .2s ease-in-out;
  transition: border-color .2s ease-in-out;
}

input:focus[type=text], textarea:focus, input:focus[type=email], input:focus[type=password] {
  color: #160808;
  border-color: #fbb8ac;
}

.form-group {
  padding-bottom: 1em;
}

header {
  overflow: hidden;
}

.decorations-top {
  position: absolute;
  top: 0;
  display: block;
}

.decorations-top--left {
  left: 0;
}

.decorations-top--right {
  right: 0;
}

.title {
  padding: 18px 0 36px 0;
}

.title-subheader {
  text-transform: uppercase;
  margin: 18px 0;
}

.logo {
  display: block;
  margin: 30px auto;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  background: transparent;
  -webkit-transition: -webkit-transform 1.2s, opacity 1.2s;
  -webkit-transition: opacity 1.2s, -webkit-transform 1.2s;
  transition: opacity 1.2s, -webkit-transform 1.2s;
  transition: transform 1.2s, opacity 1.2s;
  transition: transform 1.2s, opacity 1.2s, -webkit-transform 1.2s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -webkit-transform: translate3d(0, 150px, 0);
  transform: translate3d(0, 150px, 0);
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#header {
  position: relative;
  height: 120vh;
  background-color: #feede5;
}

.webp #header {
  background-image: url("/images/bg-4-768.webp");
}

.no-webp #header {
  background-image: url("/images/bg-4-768.jpg");
}

@media (min-width: 768px) {
  .webp #header {
    background-image: url("/images/bg-4-1920.webp");
  }
  .no-webp #header {
    background-image: url("/images/bg-4-1920.jpg");
  }
  .logo {
    margin: 30px auto 20px auto;
  }
  .title-header {
    margin: 0;
  }
  .title-subheader {
    margin: 0;
  }
}

.js .pages-stack {
  z-index: 100;
  pointer-events: none;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% -50%;
  perspective-origin: 50% -50%;
}

.hero-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-img img {
  max-width: none;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100%;
}

@media (min-width: 951px) {
  .hero-img img {
    height: auto;
  }
}

@media (min-height: 1080px) {
  .hero-img img {
    height: 100%;
  }
}

#hero::before {
  content: "";
  width: 120px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: -65px;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: -1;
  transition: all 0.55s cubic-bezier(0.23, 1, 0.32, 1), transform 0.55s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.55s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.webp #hero::before {
  background-image: url("/images/flowers-tr-01.webp");
}

.no-webp #hero::before {
  background-image: url("/images/flowers-tr-01.png");
}

.hero-wrapper {
  -webkit-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% -50%;
  perspective-origin: 50% -50%;
}

.js #hero {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100vh;
  z-index: 9;
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  opacity: 1;
  -webkit-box-shadow: 0px -2px 20px 0px rgba(0, 0, 0, 0.1), -2px 0px 20px rgba(0, 0, 0, 0.1), 2px 0px 20px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(51, 42, 39, 0.5);
          box-shadow: 0px -2px 20px 0px rgba(0, 0, 0, 0.1), -2px 0px 20px rgba(0, 0, 0, 0.1), 2px 0px 20px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(51, 42, 39, 0.5);
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.69, 0.24, 0.58, 0.95);
  transition: -webkit-transform 0.8s cubic-bezier(0.69, 0.24, 0.58, 0.95);
  transition: transform 0.8s cubic-bezier(0.69, 0.24, 0.58, 0.95);
  transition: transform 0.8s cubic-bezier(0.69, 0.24, 0.58, 0.95), -webkit-transform 0.8s cubic-bezier(0.69, 0.24, 0.58, 0.95);
}

.js #hero::before {
  opacity: 0;
}

.js body.loaded #hero {
  -webkit-transform: translate3d(0px, 75%, -200px);
          transform: translate3d(0px, 75%, -200px);
}

.js body.loaded #hero::before {
  opacity: 1;
}

html.no-js #countdown-timer {
  display: none;
}

div.countdown-timer-item {
  display: inline-block;
  width: 24%;
  padding: 0 1%;
  border-right: 1px solid #e6e6e6;
}

div.countdown-timer-item:first-child {
  padding-left: 0;
}

div.countdown-timer-item:last-child {
  padding-right: 0;
  border-right: none;
}

span.countdown-timer-counter {
  font-size: 54px;
}

.smalltext {
  color: #ad542e;
}

.invitation__wrapper .container {
  background-color: #fff3f0;
  background: linear-gradient(135deg, #fff6e9 0%, #ffe8e2 100%);
  max-width: 1630px;
}

.invitation__holder {
  width: 100%;
  display: table;
  table-layout: fixed;
}

.invitation__item {
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: inline-block;
  height: auto;
}

@media (min-width: 1024px) {
  .invitation__item {
    display: table-cell;
    width: 33.3333%;
    height: 100%;
  }
}

@media (min-width: 1024px) {
  #invitation h2.section-title {
    margin: 2.5em 0 200px;
  }
}

.invitation__info {
  position: relative;
}

.invitation__info::before, .invitation__info::after {
  content: "";
  width: 100px;
  height: 275px;
  display: block;
  position: absolute;
  top: 55%;
}

.invitation__info::before {
  left: -100px;
}

.invitation__info::after {
  right: -100px;
}

.webp .invitation__info::before {
  background: url(/images/flowers-tr-03-100.webp);
}

.webp .invitation__info::after {
  background: url(/images/flowers-tr-02-100.webp);
}

.no-webp .invitation__info::before {
  background: url(/images/flowers-tr-03-100.png);
}

.no-webp .invitation__info::after {
  background: url(/images/flowers-tr-02-100.png);
}

.invitation__info-holder {
  -webkit-box-shadow: 0 1px 10px 0 rgba(227, 217, 211, 0.7);
          box-shadow: 0 1px 10px 0 rgba(227, 217, 211, 0.7);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 94px 10% 91px;
  text-align: center;
  position: relative;
  background-color: #fff;
  -webkit-transition: all 0.55s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.55s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.55s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.55s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.55s cubic-bezier(0.23, 1, 0.32, 1), transform 0.55s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.55s cubic-bezier(0.23, 1, 0.32, 1), transform 0.55s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.55s cubic-bezier(0.23, 1, 0.32, 1);
}

@media (min-width: 1024px) {
  .invitation__info-holder {
    margin-top: -100px;
    margin-bottom: -100px;
  }
}

.invitation__info-holder--visible {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.invitation__item-wrapper {
  padding: 20px;
}

.invitation__item-wrapper img {
  border-radius: 100%;
}

.location__wrapper {
  width: 100%;
  display: table;
  table-layout: fixed;
  text-align: center;
}

.location__wrapper.location--2 {
  margin-top: 75px;
}

.location__item {
  width: 100%;
  height: auto;
  display: inline-block;
}

@media (min-width: 1024px) {
  .location__item {
    display: table-cell;
    width: 25%;
    vertical-align: middle;
  }
}

.location__item img {
  display: inline-block;
  vertical-align: top;
}

.location__item svg {
  max-width: 250px;
}

.map__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 600px;
  background-color: #fff3f0;
  background: linear-gradient(135deg, #fff6e9 0%, #ffe8e2 100%);
  margin-top: 200px;
}

.map__wrapper a {
  text-decoration: none;
}

.map__wrapper a:active {
  color: #7e7388;
}

.map__wrapper a:visited {
  color: #7e7388;
}

.map__wrapper h3 {
  line-height: 60px;
  font-size: 1.25em;
}

.map__wrapper h3, .map__wrapper h4 {
  font-family: "Open Sans Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: unset;
  margin-top: 0;
  margin-bottom: 0;
}

.map__wrapper ::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

.map__wrapper ::-webkit-scrollbar-track {
  background: none;
}

.map__wrapper ::-webkit-scrollbar-thumb {
  background: #7e7388;
  border-radius: 0;
}

.sidebar {
  width: 100%;
  background: linear-gradient(135deg, #fff6e9 0%, #ffe8e2 100%);
}

.pad2 {
  padding: 20px;
}

.map {
  width: 100%;
  height: 600px;
  border-bottom: 1px solid #e8ddda;
}

.heading {
  border-bottom: 1px solid #e8ddda;
  min-height: 60px;
  line-height: 60px;
  padding: 0 10px;
  background-color: #fff3f0;
  color: #7e7388;
  background: linear-gradient(135deg, #fff6e9 0%, #ffe8e2 100%);
}

.listings {
  height: 100%;
  overflow: auto;
}

.listings .item {
  display: block;
  border-bottom: 1px solid #e8ddda;
  padding: 10px;
  text-decoration: none;
  background: #fff9f8;
  background: rgba(255, 255, 255, 0.25);
}

.listings .item:hover {
  background: #ffe2d6;
}

.listings .item:last-child {
  border-bottom: none;
}

@media (min-width: 600px) {
  .listings .item:last-child {
    border-bottom: 1px solid #e8ddda;
    border-right: none;
  }
}

@media (min-width: 600px) {
  .listings .item {
    display: inline-block;
    width: 50%;
    border-right: 1px solid #e8ddda;
  }
}

.listings .item p {
  color: #222;
}

.listings .item .title {
  display: block;
  color: #7e7388;
  font-weight: 700;
  line-height: 2;
  padding: 0;
}

.listings .item .title small {
  font-weight: 400;
}

.listings .item.active {
  background-color: #fbece8;
  background: rgba(255, 255, 255, 0.65);
}

.marker {
  border: none;
  cursor: pointer;
  height: 56px;
  width: 56px;
  background-color: rgba(0, 0, 0, 0);
}

.marker-1 {
  background-image: url("/images/marker-1.png");
}

.marker-2 {
  background-image: url("/images/marker-2.png");
}

.clearfix {
  display: block;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Marker tweaks */
.mapboxgl-popup {
  padding-bottom: 50px;
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font: 400 15px/22px "Open Sans Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  width: 180px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.mapboxgl-popup-content h4 {
  background: #fff3f0;
  color: #7e7388;
  margin: 0;
  display: block;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  margin-top: -15px;
  font-size: 1.5em;
}

.mapboxgl-popup-content h5 {
  margin: 0;
  display: block;
  padding: 10px 10px 10px 10px;
  font-size: 1.2em;
  font-weight: initial;
}

.mapboxgl-popup .mapboxgl-popup-content {
  padding: 0;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #52366b;
}

#gallery {
  background-image: url("/images/flowers-w-006-360w.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center right;
}

.my-gallery {
  text-align: center;
}

.my-gallery a {
  display: block;
  overflow: hidden;
  margin-bottom: 1em;
}

@media (min-width: 576px) {
  .my-gallery a {
    margin-bottom: initial;
  }
}

.my-gallery a img {
  -webkit-transition: all 0.6s cubic-bezier(0.33, 0.02, 0, 0.93);
  transition: all 0.6s cubic-bezier(0.33, 0.02, 0, 0.93);
}

.my-gallery a:hover img {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

@media (min-width: 576px) {
  .my-gallery figure {
    display: inline-block;
    padding: 10px;
  }
  html.cssgrid .my-gallery__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
  }
  html.cssgrid .my-gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (136px)[9];
        grid-template-rows: repeat(9, 136px);
    grid-gap: 15px;
  }
  html.cssgrid .my-gallery__item--1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / span 3;
  }
  html.cssgrid .my-gallery__item--2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4 / span 2;
  }
  html.cssgrid .my-gallery__item--3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / span 2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    grid-row: 3 / span 3;
  }
  html.cssgrid .my-gallery__item--4 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / span 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
  }
  html.cssgrid .my-gallery__item--5 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / span 2;
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    grid-row: 6 / span 2;
  }
  html.cssgrid .my-gallery__item--6 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 6;
    -ms-grid-row-span: 3;
    grid-row: 6 / span 3;
  }
  html.cssgrid .my-gallery__item--7 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3 / span 2;
    -ms-grid-row: 8;
    -ms-grid-row-span: 3;
    grid-row: 8 / span 3;
  }
  html.cssgrid .my-gallery__item--8 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 9;
    -ms-grid-row-span: 3;
    grid-row: 9 / span 3;
  }
}

@media (min-width: 960px) {
  html.cssgrid .my-gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (40px)[12];
        grid-template-rows: repeat(12, 40px);
    grid-gap: 15px;
  }
  html.cssgrid .my-gallery__img {
    width: auto;
    height: auto;
    -o-object-fit: none;
       object-fit: none;
    display: block;
  }
  html.cssgrid .my-gallery__item--1 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 7;
    grid-row: 1 / span 7;
  }
  html.cssgrid .my-gallery__item--2 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 8;
    -ms-grid-row-span: 3;
    grid-row: 8 / span 3;
  }
  html.cssgrid .my-gallery__item--3 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 5;
    grid-row: 5 / span 5;
  }
  html.cssgrid .my-gallery__item--4 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / span 3;
  }
  html.cssgrid .my-gallery__item--6 {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 7;
    grid-row: 1 / span 7;
  }
  html.cssgrid .my-gallery__item--5 {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 8;
    -ms-grid-row-span: 3;
    grid-row: 8 / span 3;
  }
  html.cssgrid .my-gallery__item--7 {
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 5;
    -ms-grid-row-span: 5;
    grid-row: 5 / span 5;
  }
  html.cssgrid .my-gallery__item--8 {
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / span 3;
  }
}

#song {
  width: 100%;
  height: 120vh;
  padding: 0;
  margin: 70px 0 0 0;
  overflow: hidden;
  background: #fff6e9;
  background: linear-gradient(135deg, #fff6e9 0%, #ffe8e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6e9 ', endColorstr='#ffe8e2', GradientType=1);
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* Top Info */
#song-title {
  /* position: absolute; */
  width: 100%;
  /* top: 3%; */
  line-height: 34px;
  height: 34px;
  text-align: center;
  font-size: 34px;
  opacity: 0.9;
  font-weight: 300;
  color: #7a7188;
  /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33); */
  z-index: 2;
}

.song-wrapper {
  min-height: 500px;
  height: 90vh;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-55%);
          transform: translateY(-55%);
  width: 100%;
}

.song-wrapper h2 {
  margin-bottom: 2em;
}

.song-wrapper img.decoration {
  margin: -1.5em auto 1em;
}

#timer {
  /* position: absolute; */
  /* top: 0; */
  /* left: 3%; */
  /* text-align: left; */
  font-size: 26px;
  opacity: 0.9;
  /* font-weight: 300; */
  color: #7a7188;
  /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33); */
}

#duration {
  /* position: absolute; */
  /* top: 0; */
  /* right: 3%; */
  /* text-align: right; */
  font-size: 26px;
  opacity: 0.5;
  /* font-weight: 300; */
  color: #7a7188;
  /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33); */
}

/* Controls */
.controlsOuter {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 3%;
  z-index: 2;
}

.controlsInner {
  position: absolute;
  width: 340px;
  height: 70px;
  left: 50%;
  margin: 0 -170px;
}

.song-btn {
  position: absolute;
  cursor: pointer;
  opacity: 0.9;
  -webkit-filter: drop-shadow(0px 0px 5px rgba(182, 145, 144, 0.35));
  filter: drop-shadow(0px 0px 5px rgba(182, 145, 144, 0.35));
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.btn:hover {
  opacity: 1;
}

#playBtn {
  background-image: url("../images/play.png");
  width: 69px;
  height: 70px;
  left: 50%;
  margin: auto -34.5px;
}

#pauseBtn {
  background-image: url("../images/pause.png");
  width: 69px;
  height: 70px;
  left: 50%;
  margin: auto -34.5px;
  display: none;
}

#volumeBtn {
  background-image: url("../images/volume.png");
  width: 35px;
  height: 35px;
  top: 50%;
  right: 3%;
  margin: -17.5px auto;
}

/* Progress */
#waveform {
  width: 100%;
  height: 30%;
  position: absolute;
  left: 0;
  top: 50%;
  margin: -15% auto;
  display: none;
  cursor: pointer;
  opacity: 0.8;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  z-index: 2;
}

#waveform:hover {
  opacity: 1;
}

#bar {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #887d91;
  background-color: rgba(136, 125, 145, 0.9);
  /* background-color: rgba(255, 255, 255, 0.9); */
  /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33); */
  opacity: 0.9;
}

#progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(255, 125, 125, 0.1);
  /* z-index: -1; */
}

/* Loading */
#loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -35px;
  width: 70px;
  height: 70px;
  background-color: #887d91;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
  display: none;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

/* Volume */
#volume {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: rgba(255, 255, 255, 0.5); */
  background: #fff6e9;
  background: linear-gradient(135deg, #fff6e9 0%, #ffe8e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6e9 ', endColorstr='#ffe8e2', GradientType=1);
  -ms-touch-action: none;
      touch-action: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  display: none;
  z-index: 2;
}

.bar {
  position: absolute;
  top: 50%;
  left: 5%;
  margin: -5px auto;
  height: 10px;
  /* background-color: rgba(255, 255, 255, 0.9); */
  background-color: #887d91;
  /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33); */
}

#barEmpty {
  width: 90%;
  opacity: 0.5;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

#barFull {
  width: 90%;
}

#sliderBtn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 93.25%;
  margin: -25px auto;
  background-color: #887d91;
  /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.33); */
  border-radius: 25px;
  cursor: pointer;
}

/* Fade-In */
.fadeout {
  webkit-animation: fadeout 0.5s;
  -webkit-animation: fadeout 0.5s;
          animation: fadeout 0.5s;
}

.fadein {
  webkit-animation: fadein 0.5s;
  -webkit-animation: fadein 0.5s;
          animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

html.flexbox #rsvp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#rsvp {
  background-image: url("/images/flowers-w-005-450w.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left;
  height: 100vh;
}

.webp .form-wrapper.flowers::after {
  background: url("/images/Bouquet.webp");
}

.no-webp .form-wrapper.flowers::after {
  background: url("/images/Bouquet.jpg");
}

.form-wrapper {
  max-width: 520px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.form-wrapper.flowers::after {
  content: "";
  display: block;
  width: 250px;
  height: 263px;
  background: url("/images/Bouquet.jpg");
  position: absolute;
  z-index: -1;
  right: -100px;
  bottom: -100px;
}

.form-wrapper form {
  background: url(/images/flower-metalic-250.jpg);
  background-position: bottom right;
  background-size: 100px;
  background-repeat: no-repeat;
  padding: 20px;
}

.form-wrapper h2, .form-wrapper .subtitle {
  text-align: center;
}

@media (min-width: 460px) {
  .form-wrapper h2, .form-wrapper .subtitle {
    text-align: left;
  }
}

.form-wrapper .front, .form-wrapper .back {
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow-x: hidden;
}

.form-wrapper .front {
  z-index: 10;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.form-wrapper .back {
  z-index: 9;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.form-wrapper .back-wrapper {
  padding: 20px;
  border: 30px solid #ffece4;
  height: 100%;
  width: 100%;
}

.form-wrapper .back-wrapper h2 {
  text-align: center;
}

.flip .front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  z-index: 11;
}

.flip .back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  z-index: 12;
}

.rsvp__label {
  margin: 16px 0;
  display: block;
  cursor: pointer;
  position: relative;
}

.rsvp__label input {
  display: inline-block;
  position: absolute;
  opacity: 0;
}

.rsvp__label input + span {
  line-height: 22px;
  height: 22px;
  padding-left: 22px;
  display: block;
  position: relative;
}

.rsvp__label input + span:not(:empty) {
  padding-left: 30px;
}

.rsvp__label input + span:before, .rsvp__label input + span:after {
  content: '';
  width: 22px;
  height: 22px;
  display: block;
  border-radius: 50%;
  left: 0;
  top: 0;
  position: absolute;
}

.rsvp__label input + span:before {
  background: #efefef;
  -webkit-transition: background 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: background 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2), -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

.rsvp__label input + span:after {
  background: #fff;
  -webkit-transform: scale(0.78);
          transform: scale(0.78);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
  transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4), -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}

.rsvp__label input:checked + span:before {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  background: #ffe9e2;
}

.rsvp__label input:checked + span:after {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.rsvp__label:hover input + span:before {
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
}

.rsvp__label:hover input + span:after {
  -webkit-transform: scale(0.74);
          transform: scale(0.74);
}

.rsvp__label:hover input:checked + span:after {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
}

.panel::before, .song-wrapper::before {
  font-family: 'EB Garamond', Georgia, 'Times New Roman', Times, serif;
  font-weight: 800;
  font-style: italic;
  font-size: 7em;
  color: rgba(0, 0, 0, 0.02);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
  margin-top: 100px;
}

#song::before {
  content: "Το τραγούδι μας";
  width: 100%;
  text-align: center;
  line-height: 0.7;
  z-index: 1;
  top: -2%;
  font-size: 4.5em;
}

@media (min-width: 768px) {
  #song::before {
    font-size: 7em;
  }
}

#invitation::before {
  content: "Παντρευόμαστε!";
}

#locations::before {
  content: "Τοποθεσίες";
}

#rsvp::before {
  content: "RSVP";
  top: 0.5em;
  z-index: 1;
}

@media (max-height: 653px) {
  #rsvp::before {
    top: -60px;
  }
}

#gallery::before {
  content: "Φωτογραφίες";
  z-index: 1;
}

img.decoration {
  font-size: 2.625em;
  margin: -1.5em auto 2em;
  display: block;
}

#instagram a {
  font-family: "Open Sans Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: initial;
  font-style: normal;
  text-decoration: none;
  color: #7a7188;
}

.hidden {
  visibility: hidden;
}

.transition-1 {
  transition: all 0.55s cubic-bezier(0.23, 1, 0.32, 1), transform 0.55s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.55s cubic-bezier(0.23, 1, 0.32, 1);
}

.transition-2 {
  transition: all 0.9s cubic-bezier(0.23, 1, 0.32, 1), transform 0.55s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.55s cubic-bezier(0.23, 1, 0.32, 1);
}

.js div#rsvp {
  background-position-x: -40%;
  opacity: 0;
}

.js div#rsvp.reveal {
  background-position-x: 0%;
  opacity: 1;
}

.js div#gallery {
  background-position-x: 160%;
  opacity: 0;
}

.js div#gallery.reveal {
  background-position-x: 100%;
  opacity: 1;
}

.js div.my-gallery {
  position: relative;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
}

.js div.my-gallery.reveal {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.js div#invitation__info-holder {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
}

.js div#invitation__info-holder.reveal {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.js div#locations {
  opacity: 0;
}

.js div#locations.reveal {
  opacity: 1;
}

.js div#song-wrapper {
  opacity: 0;
}

.js div#song-wrapper.reveal {
  opacity: 1;
}

.no-scroll {
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */